$header-color:#F4B321;

$block-text-color:#FCF3C6;

$main-background:#73CFE8;

$white-color:#fff;

$green-color:#8CC63E;

$maroon-color:#D3145A;

$dark-blue-color:#268ABF;

$light-blue-color:#62B1C8;

$empty-cell-color:#5DA8BD;

$theme-secondary-color:#96E5F4;